body {
    font-family: Arial, sans-serif;
background-image: url('bg.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: repeat;
}
}

#form-container {
    margin-bottom: 20px;
}

input[type="text"] {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}
